<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProgramoweZasobyAplikacji.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F18B79272B08CD5800BA0D26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F18B79422B08CD5900BA0D26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F18B794C2B08CD5900BA0D26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
